*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

li {
  margin: .2em;
  padding: .2em;
  cursor: pointer;
}

li:hover {
  background-color:bisque;
}

input, select, button {
  outline: none;
  padding: .5em;
  border: 0;
  border-radius: .4em;
  margin: .2em;
}

select:hover, input:hover, button:hover {
  background-color: bisque;
}

table {
    font-family: 'Monaco', monospace;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

thead {
  background-color: beige;
  height: 2em;
}

table th,
table td {
  padding: .5em 1em;
}

canvas {
  width: 100%;
  background-color: white;
}

.App {
  background-color: lightblue;
  min-height: 100vh;
  width: 100vw;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  width: 80%;
  margin: 0 auto;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  background-color: bisque;
  width: 100%;
  padding: 1em;
}

.container {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5em 0;
  overflow: hidden;
  border-radius: .2em .2em 0 0;
  border: 1px solid bisque;
}

.example-list {
  width: 100%;
  margin: 0;
  padding: .5em;
}


.actions {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid bisque;
}

.addOption.actions {
  justify-content: space-around;
}